{% extends 'bootstrap_4_layout.html.twig' %}

{% block checkbox_widget -%}
    <label class="form-check-label col-12" for="{{ form.vars.id }}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ form.vars.label|truncate(70, true)|raw }}
        <i>&nbsp</i>
                    <span id="{{ form.vars.id }}_tooltip" class="more-tooltip" data-placement="top" data-toggle="popover"  title="" data-content="{{ form.vars.label|striptags }}">
                        więcej
                    </span>
    </label>
{%- endblock checkbox_widget %}